.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}
.nav a{
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1.2px;
	transition: color .4s;
}
.nav a:hover{
	color: cornflowerblue;
}